{% extends 'portfolio/base.html' %}
{% load staticfiles %}
{% block content %}

	<main id="content" role="main">
		<div class="container container-masonry">
			<div class="inner">
				<div class="row">
					<div class="box col-sm-4 col-md-6">
						<div class="thumb featured">
							<div class="photo">
								<a href="work.html">
									<img src="{% static 'img/sample-thumb.png' %}" alt="" width="715" height="715">
									<span class="info"><strong class="big-title">We help brands connect with people</strong><span class="excerpt">Let's see why you need to go digital. We will study how to improve your perception and rebuild your image.</span><em class="arrow-right"></em></span>
								</a>
							</div>
						</div>
					</div>
					<div class="box col-xs-6 col-sm-4 col-md-3">
						<div class="thumb">
							<div class="photo">
								<a href="project.html">
									<img src="{% static 'img/sample-thumb.png' %}" alt="" width="434" height="434">
									<span class="info"><strong class="title">Frock</strong><span class="excerpt">Awesome website design with minimal touches.</span><em class="arrow-right"></em></span>
								</a>
							</div>
						</div>
					</div>
					<div class="box col-xs-6 col-sm-4 col-md-3">
						<div class="thumb">
							<div class="photo">
								<a href="project.html">
									<img src="{% static 'img/sample-thumb.png' %}" alt="" width="434" height="434">
									<span class="info"><strong class="title">The Nordic</strong><span class="excerpt">Food truck visual identity created for a scandinavian company.</span><em class="arrow-right"></em></span>
								</a>
							</div>
						</div>
					</div>
					<div class="box col-xs-6 col-sm-4 col-md-3">
						<div class="thumb">
							<div class="photo">
								<a href="project.html">
									<img src="{% static 'img/sample-thumb.png' %}" alt="" width="434" height="434">
									<span class="info"><strong class="title">Suprette</strong><span class="excerpt">Suprette was one of our most appreciated projects and was featured in reddot.</span><em class="arrow-right"></em></span>
								</a>
							</div>
						</div>
					</div>
					<div class="box col-xs-6 col-sm-4 col-md-3">
						<div class="thumb">
							<div class="photo">
								<a href="project.html">
									<img src="{% static 'img/sample-thumb.png' %}" alt="" width="434" height="434">
									<span class="info"><strong class="title">Geneviève Caron</strong><span class="excerpt">White hair blue eyes portrait photography.</span><em class="arrow-right"></em></span>
								</a>
							</div>
						</div>
					</div>
					<div class="box col-xs-6 col-sm-4 col-md-3">
						<div class="thumb">
							<div class="photo">
								<a href="project.html">
									<img src="{% static 'img/sample-thumb.png' %}" alt="" width="434" height="434">
									<span class="info"><strong class="title">Hoop</strong><span class="excerpt">Portable Bluetooth speaker based on the idea of sharing your music.</span><em class="arrow-right"></em></span>
								</a>
							</div>
						</div>
					</div>
					<div class="box col-xs-6 col-sm-4 col-md-3">
						<div class="thumb">
							<div class="photo">
								<a href="project.html">
									<img src="{% static 'img/sample-thumb.png' %}" alt="" width="434" height="434">
									<span class="info"><strong class="title">Din Kook</strong><span class="excerpt">Simple, clean and quality universe with black elements.</span><em class="arrow-right"></em></span>
								</a>
							</div>
						</div>
					</div>
					<div class="box col-xs-6 col-sm-4 col-md-3">
						<div class="thumb">
							<div class="photo">
								<a href="project.html">
									<img src="{% static 'img/sample-thumb.png' %}" alt="" width="434" height="434">
									<span class="info"><strong class="title">Maon</strong><span class="excerpt">Light grey jacket that conflates functionality and streetwear aesthetic.</span><em class="arrow-right"></em></span>
								</a>
							</div>
						</div>
					</div>
					<div class="box col-xs-6 col-sm-4 col-md-3">
						<div class="thumb">
							<div class="photo">
								<a href="project.html">
									<img src="{% static 'img/sample-thumb.png' %}" alt="" width="434" height="434">
									<span class="info"><strong class="title">Northbound</strong><span class="excerpt">Architecture scene photographed by Matthias Heiderich.</span><em class="arrow-right"></em></span>
								</a>
							</div>
						</div>
					</div>
				</div>
			</div>
			<div class="clear"></div>
		</div>
	</main>

  {% endblock content %}
