{% extends 'portfolio/base.html' %}
{% load staticfiles %}
{% block content %}

<main id="content" role="main">
		<div class="container container-masonry">
			<div class="inner">
				<div class="row">
					<div class="box col-sm-4 col-md-6">
						<div class="thumb featured">
							<div class="photo">
								<a href="project.html">
									<img src="{% static 'img/featureblog.png' %}" alt="" width="715" height="715">
									<span class="info"><strong class="big-title">Dominance, focal points and hierarchy</strong>
										<span class="excerpt">Your content might be the king, but are you presenting it as one? Do people look where they should?</span>
										<em class="arrow-right"></em></span>
								</a>
							</div>
						</div>
					</div>
					{% for project in projects %}
					<div class="box col-xs-6 col-sm-4 col-md-3">
						<div class="thumb">
							<div class="photo">
								<a href="{% url 'portfolio_detail' pk=project.pk %}">
									<img src="media/{{project.image}}" alt="" width="434" height="434">
									<span class="info"><strong class="title">{{project.name}}</strong>
										<span class="excerpt">{{project.short_description}}</span>
										<em class="arrow-right"></em></span>
								</a>
							</div>
						</div>
					</div>
					{% endfor %}
			</div>
			</div>
			<div class="clear"></div>
		</div>
	</main>
{% endblock %}
