{% extends 'base.html' %}
{% load staticfiles %}
{% block content %}
	<main id="content" class="white-background" role="main">
		<div class="container">
			<h2 class="single-title">{{project.name}}</h2>
			<div class="owl-carousel owl-slider">
				{% for upload in uploads %}
					<img src="{{upload.image.url}}" width="1240" height="698" alt="">
				{% endfor %}
			</div>
			<div class="margin-3"></div>
			<div class="row">
				<div class="col-sm-4 col-md-3 project-properties">
					<h6>Clients</h6>
					<p class="small">{{project.clients}}</p>
					<h6>Category</h6>
					<p class="small">{% for category in categories %}{{category.name}} {% endfor %}</p>
					<h6>Posted</h6>
					<p class="small">{{project.start_date}}</p>
					<p class="social-share">
						<a href="#" class="social-link"><i class="fa fa-facebook"></i></a>
						<a href="#" class="social-link"><i class="fa fa-twitter"></i></a>
						<a href="#" class="social-link"><i class="fa fa-google-plus"></i></a>
						<a href="#" class="social-link"><i class="fa fa-dribbble"></i></a>
						<a href="#" class="social-link"><i class="fa fa-pinterest"></i></a>
						<a href="#" class="social-link"><i class="fa fa-behance"></i></a>
					</p>
				</div>
				<div class="col-sm-8 col-md-8 col-md-offset-1">
					{{project.description|safe}}
					<div class="margin-1"></div>
					<p class="tags"><strong>Tagged:</strong>
						{% for tag in tags %}
						<a href="#">{{tag.name}}</a>
						{% endfor %}
					</p>
				</div>
			</div>
			<div class="margin-3"></div>
			<h5>Similar Projects</h5>
			<div class="owl-carousel owl-thumbs">
				{% for category in categories %}
					{% for project in category.get_projects %}
						<div class="thumb dark-overlay">
							<div class="photo">
								<a href="#">
									<img src="{% static 'img/sample-thumb.png' %}" alt="" width="434" height="434">
									<span class="info"><span class="big-excerpt">{{project.name}}</span></span>
								</a>
							</div>
						</div>
					{% endfor %}
				{% endfor %}
			</div>
			<div class="margin-6"></div>
		</div>
	</main>
	{% endblock content %}
