<!doctype html>
<html class="no-js">
<head>
	<meta charset="utf-8">
	<title>Work &mdash; Exa</title>
	<meta name="viewport" content="width=device-width, initial-scale=1">

	<meta name="description" content="Exa is fully responsive creative agency/freelancer portfolio HTML site template that looks great on any device.">
	<meta name="keywords" content="Exa, HTML5, Template, Design, Development">
  <link href="https://fonts.googleapis.com/css?family=Playfair+Display:400,400italic%7CRoboto:400,700%7CDroid+Serif" rel="stylesheet" type="text/css">
{% load staticfiles %}
	<link rel="shortcut icon" href="favicon.png">
	<link href="{% static 'css/font-awesome.min.css' %}" rel="stylesheet" type="text/css">
	<link href="{% static 'css/style.css' %}" rel="stylesheet" type="text/css">
	<link href="{% static 'css/style-personal.css' %}" rel="stylesheet" type="text/css">
</head>
<body>

  <header id="top" class="navbar" role="banner">
		<div class="container">
			<div class="inner">

				<div class="site-title">
					<h1><a href="index.html"><img src="{% static 'img/logo.png' %}" width="144" height="52" alt="Exa"></a></h1>
					<a href="#site-menu" class="site-menu-toggle">
						<span class="sr-only">Toggle navigation</span>
						<em class="first"></em><em class="middle"></em><em class="last"></em>
					</a>
				</div>
				<div id="site-menu">
					<nav>
						<ul>
							{% url 'home' as url %}
							<li {% if request.path == url %} class="main-menu-item menu-item-even menu-item-depth-0 menu-item menu-item-type-post_type menu-item-object-page current-menu-item page_item page-item-87 current_page_item dropdown-align-left"
							{% else %}class="main-menu-item menu-item-even menu-item-depth-0 menu-item menu-item-type-post_type menu-item-object-page dropdown-align-left menu-item-home"{% endif %}>
								<a class="menu-link main-menu-link" href="{{ url }}">Home</a></li>
							{% url 'about' as url %}
							<li {% if request.path == url %} class="main-menu-item menu-item-even menu-item-depth-0 menu-item menu-item-type-post_type menu-item-object-page current-menu-item page_item page-item-87 current_page_item dropdown-align-left"
							{% else %}class="main-menu-item menu-item-even menu-item-depth-0 menu-item menu-item-type-post_type menu-item-object-page dropdown-align-left"{% endif %}>
								<a class="menu-link main-menu-link" href="{{ url }}">About</a></li>
							{% url 'portfolio_list' as url %}
							<li {% if request.path == url %} class="main-menu-item menu-item-even menu-item-depth-0 menu-item menu-item-type-post_type menu-item-object-page current-menu-item page_item page-item-87 current_page_item dropdown-align-left"
							{% else %} class="main-menu-item menu-item-even menu-item-depth-0 menu-item menu-item-type-post_type menu-item-object-page dropdown-align-left"{% endif %}>
								<a class="menu-link main-menu-link" href="{{ url }}">Work</a>
							</li>
							{% url 'contact' as url %}
							<li {% if request.path == url %} class="main-menu-item menu-item-even menu-item-depth-0 menu-item menu-item-type-post_type menu-item-object-page current-menu-item page_item page-item-87 current_page_item dropdown-align-left"
							{% else %}class="main-menu-item menu-item-even menu-item-depth-0 menu-item menu-item-type-post_type menu-item-object-page dropdown-align-left"{% endif %}>
								<a class="menu-link main-menu-link" href="{{ url }}">Contact</a>
							</li>
							{% url 'post_list' as url %}
							<li {% if request.path == url %} class="main-menu-item menu-item-even menu-item-depth-0 menu-item menu-item-type-post_type menu-item-object-page current-menu-item page_item page-item-87 current_page_item dropdown-align-left"
							{% else %}class="main-menu-item menu-item-even menu-item-depth-0 menu-item menu-item-type-post_type menu-item-object-page dropdown-align-left"{% endif %}>
								<a class="menu-link main-menu-link" href="{{ url }}">Blog</a>
							</li>
							<li class="menu-item-search">
								<a href="search.html"><i class="fa fa-search"></i><i class="fa fa-times"></i></a>
								<form method="get" id="site-searchform" class="searchform" action="search.html">
									<input type="search" name="s" autocomplete="off" placeholder="Search&hellip;">
									<input type="submit" value="&#xf002;">
								</form>
							</li>
						</ul>
					</nav>
				</div>

			</div>
		</div>
	</header>

{% block content %}

{% endblock %}

	<footer id="footer" role="contentinfo">
		<div class="container">
			<p>
				<a href="index.html" class="mini-logo"><img src="{% static 'img/logo-footer.png' %}" width="90" height="33" alt="Exa"></a>
			</p>
			<p>&copy; 2015 Exa Studios Inc. All Rights Reserved.</p>
			<p>
				<a href="#" class="social-link"><i class="fa fa-behance"></i></a>
				<a href="#" class="social-link"><i class="fa fa-google-plus"></i></a>
				<a href="#" class="social-link"><i class="fa fa-dribbble"></i></a>
				<a href="#" class="social-link"><i class="fa fa-facebook"></i></a>
			</p>
		</div>
	</footer>

	<a href="#page" class="btn-back scrollableLink btn-back-pill">
		<span class="icon-arrow-up4"></span>
	</a>

	<script type="text/javascript" src="{% static  'js/jquery.min.js' %}"></script>
	<script type="text/javascript" src="{% static  'js/site.js' %}"></script>
	<script type="text/javascript" src="{% static  'js/owl.carousel.min.js' %}"></script>
	<script>
	  jQuery(".owl-carousel.owl-slider").owlCarousel({
	    items   : 1,
	    nav     : true,
	    navText : ['', ''],
	    loop    : true
	  });
	  jQuery(".owl-carousel.owl-thumbs").owlCarousel({
	    items   : 3,
	    margin  : 30,
	    nav     : true,
	    navText : ['', ''],
	    dots    : false,
	    loop    : false,
	    responsive : {
	      0: {
	        items   : 2
	      },
	      768: {
	        items   : 3
	      }
	    }
	  });
	</script>
</body>
</html>
